// Colors
$background-main-color: #FFF5EE;
$border-color: #000000;
$background-btn-color: #BA55D3;
$color-white: #FFFFFF;
$profile-color: #DCDCDC;
$shadow-color: #cacaca;
$background-note-color: #FFFFE0;

// Fonts
$font-main: 'Roboto', sans-serif;